<div class="container">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col login">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <form [formGroup]="formDangNhap" (ngSubmit)="dangNhap(formDangNhap)" class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="userName">
              <mat-error
                *ngIf="formDangNhap.controls.userName.touched && formDangNhap.controls.userName.hasError('required')">
                Please enter a valid username!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password">
              <mat-error
                *ngIf="formDangNhap.controls.password.touched && formDangNhap.controls.password.hasError('required')">
                Please enter a valid password!
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button type="submit" color="accent" class="btn-block">Sign-in</button>
        </form>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>