<div class="container">

  <div class="row">

    <div class="col-xl-8">
      <div class="game-area">
        <mat-grid-list class="tick-tack-grid" cols="3">
          <mat-grid-tile *ngFor="let block of blocks; let i = index;" (click)="calcBlock(i)"><i
              [ngClass]="block.symbol == 'done' ? 'material-icons tick' : 'material-icons cross'">{{ block.symbol }}</i>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="col-xl-4">
      <h2>Score</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>You:</td>
            <td>{{players[0].score}}</td>
          </tr>

          <tr>
            <td>Computer:</td>
            <td>{{ players[1].score }}</td>
          </tr>

          <tr>
            <td>Draw:</td>
            <td>{{draw}}</td>
          </tr>

        </tbody>
      </table>
      <!-- <button mat-raised-button color="accent" (click)="resetGame($event)">Reset Game</button> -->
      <button mat-raised-button color="accent" (click)="replay()">Replay</button>
    </div>

  </div>


</div>